extends layout

block content
    h1 = Sample Problem
    br
    br
    h2 = Bibliographic
    h3 = Problem Statement  
    p = #{probStat}
    p
    |     Solution :

    |     A website in which the properties of the objects will be taken as an input and then select the best suitable material for that in which object can sustain much longer also the most optimum orientation and design of the product which can minimize the area of packing. In this whole process the cost optimization is the prime objective.
    br
    |     Stage 1:

    |         1. Make front end of website.
    br
    |         2. Implementation of backend frameworks.
    br
    |         3. Either get data set from ITC or create a demo data set.
    br
    |         4. Prepare 'codebase.py' file. In this file there should be the demo dataset of some materials which are commonly used for packaging.
    br

    br
    br
    |     Stage 2:
    br

    br
    |         A website that will take the inputs of the certain properties of the object from the user, store it in database and compare with the package material which is best suitable for that object. This comparison is done between the data which is pre-loaded in file codebase.py and the user inputs. After a careful analysis of the properties of packing material which suits the object, a list is generated of suitable materials. All the data in codebase.py is arbitary and random, real data can be used in the code to get the exact results. Getting the data from the firebase using pyrebase. Properties which are taken as an input from the users are:
    br
    |             Dimensions
    br
    br
    |             State of product
    br
    |             Chemical properties
    br
    |                 Reaction with oxygen
    br
    |                 Photosensitive, etc.
    br
    |             Durability of product
    br
    |             Packaging material specified(ex. Tetrapack), etc.
    br

    br
    |     Constraints and factors on which packaging depends on: For Solid:
    br

    br
    |     * All properties
    br
    |     * Dimensions
    br
    |     * Orientation of product
    br
    |     * Fragile nature
    br
    |     * Durability / use before, etc.
    br
    |     * Manufacturing state
    br
    |     * Powder
    br
    |     * etc.
    br
    |     * Packaging Materials
    br
    |     * Plastic
    br
    |     * Cardboard
    br
    |     * Metal / Tin
    br
    |     * Glass
    br
    |     * Costing
    br
    |     * Plastic
    br
    |     * Cardboard
    br
    |     * any other
    br
    |     * etc.
    br

    br
    |     The scope of this project is limited to the solid objects (mainly biscuit) but can be extended to the other objects as well. For more information, please refer this
    br
    |     Stage 3:
    br

    br
    |         1. Code orientation.py.
    br
    |         2. Design an algorithm which will test all the possible arrangements of the object in the packing packet and then return the one which is occupies minimum surface area and is also durable.
    br
    |         3. Generate the best possible arrangement of product inside the packing, determine shape and surface area of the packing.
    br
    |         4. Making front End for the results page.
    br
    |         5. Making javascript for the processing page.
    br

    br
    |     Stage 4:
    br

    br
    |         1. Code packing.py
    br
    br
    |         2. Now link the cost and properties of each material in codebase.py and the defined the best possible orientation with a logic in which we find out the most optimum packaging of the object.
    br
    |         3. In that file we will link the codebase.py , orientation.py. From these files we find out the areas of all possible orientations and the best materials used for the objects.
    br
    |         5. Linking the firebase and the python file.
    br
    |         6. Importing the files codebase.py and orientation.py in packing.py.
    br
    |         7. Sending data in the form of list from packing.py to the firebase and then from to the website.
    br

    br
    |     How to Execute the Project
    br

    br
    |         Install python3 in your system, for reference you can go through this
    br
    |         In this project, the packing.py works as a server, which is needed to get started before running the website.
    br

    br
    |     Steps to Run project
    br

    br
    |         Clone the repository in your local machine $ git clone repo_link
    br
    |         Run the file packing.py , python3 packing.py .
    br
    |         Open index.html.
    br
    |         click on primary packing button.
    br
    |         Enter the details of the product biscuit.
    br
    |         Wait for the output.
    br
    |         It will provide us with the cost and material of the product packing. It also gives us all the possible combinations and orientations of the product packing.
    br
